body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

form {
    margin-bottom: 10px;
}

input, button {
    margin-right: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.product-name {
    font-weight: bold;
}


.error {
    color: red;
}

  